body{background-image: url("https://wallpapertag.com/wallpaper/full/4/f/a/534895-popular-bmw-m-logo-wallpaper-1920x1080.jpg");
     background-attachment: fixed;
     background-size: 100%;
}
.m135{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px
}
.m2{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px
}
.m4{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.m5{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px
}
.m8{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px
}
.uvod{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.m235{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}