body{background-image: url("https://wallpaperaccess.com/full/1905159.jpg");
     background-attachment: fixed;
     background-size: 100%;
}
.s2{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.mv2{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.s3{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.s5{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.s6{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.s7{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.uvod{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}