body{background-image: url("https://wallpaperaccess.com/full/1524531.jpg");
     background-attachment: fixed;
     background-size: 100%;
}
.x{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.x1{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.x2{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.x3{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.x4{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.x5{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.x6{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}
.x7{text-align: center;
	   padding: 10px;
        background-color: white;
        color: #16588f;
            width: 1050px;
            border-radius: 8px;
            float: center;
            margin-top: 20px;
            margin-left: 400px;
            margin-bottom: 50px;
            font-size: 20px}